.centered-container {
  background: 'red';
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* 100% da altura da viewport */
  margin: 0;
}

.centered-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  /* Espaço acima do formulário */
}

.centered-container h1 {
  font-size: 24px;
  margin-bottom: 20px;
  /* Espaço abaixo do título */
}

/* Estilos gerais para a página */
body {
  font-family: Consolas, Monaco, 'Andale Mono', monospace;
  background-color: #2d2d2d;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.card {
  margin: 10px;
  border-bottom: 1px solid #ffffff;
  padding-bottom: 10px;

}

/* Estilo da caixa do terminal */
.terminal-box {
  width: 80%;
  max-width: 800px;
  height: 60vh;
  overflow: auto;
  background-color: #1e1e1e;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

/* Estilo para as linhas de texto dentro do terminal */
#terminal-content {
  font-size: 14px;
  line-height: 1.5;
  white-space: pre-wrap;
  /* Manter a quebra de linha */
  overflow-wrap: break-word;
  /* Quebrar palavras longas */
  margin: 0;
}